<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>

    <system.windows.forms jitDebugging="true"/>

  <runtime>
    <loadFromRemoteSources enabled="true"/>
  	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.DXCore.Controls.Utils.v6.3" publicKeyToken="35C9F04B7764AA3D" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.1.8.0" newVersion="11.1.8.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.DXCore.Controls.Data.v6.3" publicKeyToken="35C9F04B7764AA3D" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.1.8.0" newVersion="11.1.8.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

</configuration>
