<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <Table1>
    <server>THANHLM\SQLEXPRESS2016</server>
    <account>ql`[</account>
    <password>QL@;@;2-4/6183:5&lt;7</password>
    <DBName>qlxssnupgbpkc^72619483</DBName>
    <path>E:\Libs\Drive\Libs\Data\Data\system.sdf</path>
    <passCE>/*1,3.507294</passCE>
    <dbnameCE>qlxssnupgbpk2-xsjemh</dbnameCE>
    <passaccess>_Zc^mhjepkfasnsnlgpkoj</passaccess>
    <isSqlServer>true</isSqlServer>
  </Table1>
</NewDataSet>