drop table baohanh
CREATE TABLE [dbo].[BAOHANH](
	[id] [nvarchar](10) NOT NULL,
	[idcommodity] [nvarchar](10) NOT NULL,
	[invoiceeps] [nvarchar](15) NOT NULL,
	[loai] [nvarchar](10) NULL,
	[loaibaohanh] [nvarchar](10) NULL,
	[ngaybh] [date] NULL,
	[sogio] [int] NULL,
	[ghichu] [nvarchar](1000) NULL,
	[phutung] [nvarchar](500) NULL,
	[sogiochay] [int] NULL,
 CONSTRAINT [PK_BAOHANH] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

drop table baotri
CREATE TABLE [dbo].[BAOTRI](
	[ngaytao] [datetime] NULL,
	[khachhang] [bit] NULL,
	[loai] [bit] NULL,
	[idemp] [nvarchar](20) NULL,
	[idcustomer] [nvarchar](20) NULL,
	[giatrihopdong] [int] NULL,
	[mabaotri] [nvarchar](20) NOT NULL,
	[note] [nvarchar](max) NULL,
	[diachibaotri] [nvarchar](100) NULL,
	[diachidangky] [nvarchar](100) NULL,
	[invoiceeps] [nvarchar](20) NULL,
 CONSTRAINT [PK_BAOTRI] PRIMARY KEY CLUSTERED 
(
	[mabaotri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

drop table sysControls
CREATE TABLE [dbo].[sysControls](
	[form_name] [nvarchar](50) NOT NULL,
	[control_name] [nvarchar](50) NOT NULL,
	[type] [nvarchar](50) NULL,
	[text_EN] [nvarchar](500) NULL,
	[text_VI] [nvarchar](500) NULL,
	[status] [bit] NULL,
	[field_name] [nvarchar](50) NULL,
	[sql_lue] [nvarchar](500) NULL,
	[valuemember_lue] [nvarchar](50) NULL,
	[displaymember_lue] [nvarchar](50) NULL,
	[caption_col_lue_VI] [nvarchar](50) NULL,
	[fieldname_col_lue] [nvarchar](50) NULL,
	[caption_col_lue_EN] [nvarchar](50) NULL,
	[ma_sub_menu] [nchar](10) NULL,
	[stt] [int] NULL,
	[ShortcutKeys] [nvarchar](50) NULL,
	[image] [nvarchar](50) NULL,
 CONSTRAINT [PK_sysControls1] PRIMARY KEY CLUSTERED 
(
	[form_name] ASC,
	[control_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

drop table sysGridColumns
CREATE TABLE [dbo].[sysGridColumns](
	[form_name] [nvarchar](50) NOT NULL,
	[column_name] [nvarchar](500) NULL,
	[caption] [nvarchar](500) NULL,
	[field_name] [nvarchar](500) NULL,
	[style_column] [nvarchar](500) NULL,
	[column_width] [nvarchar](500) NULL,
	[allow_focus] [nvarchar](500) NULL,
	[column_visible] [nvarchar](500) NULL,
	[sql_lue] [nvarchar](max) NULL,
	[caption_lue] [nvarchar](500) NULL,
	[fieldname_lue] [nvarchar](500) NULL,
	[caption_lue_col] [nvarchar](500) NULL,
	[fieldname_lue_col] [nvarchar](500) NULL,
	[fieldname_lue_visible] [nvarchar](500) NULL,
	[cot_lue_search] [int] NULL,
	[sql_glue] [nvarchar](max) NULL,
	[caption_glue] [nvarchar](500) NULL,
	[fieldname_glue] [nvarchar](500) NULL,
	[caption_glue_col] [nvarchar](500) NULL,
	[fieldname_glue_col] [nvarchar](500) NULL,
	[fieldname_glue_visible] [nvarchar](500) NULL,
	[cot_glue_search] [int] NULL,
	[column_summary] [nvarchar](500) NULL,
	[sql_grid] [nvarchar](max) NULL,
	[grid_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_sysGridColumns] PRIMARY KEY CLUSTERED 
(
	[form_name] ASC,
	[grid_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

drop table sysPower
CREATE TABLE [dbo].[sysPower](
	[IDSubMenu] [nvarchar](10) NOT NULL,
	[allow_access] [bit] NOT NULL,
	[allow_insert] [bit] NULL,
	[allow_delete] [bit] NULL,
	[allow_edit] [bit] NULL,
	[allow_print] [bit] NULL,
	[allow_import] [bit] NULL,
	[allow_export] [bit] NULL,
	[mavaitro] [nvarchar](50) NULL,
	[id] [int] NOT NULL,
	[allow_all] [bit] NULL,
 CONSTRAINT [PK_sysPower] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

drop table sysSubMenu
CREATE TABLE [dbo].[sysSubMenu](
	[IDSubMenu] [nvarchar](10) NOT NULL,
	[NameSubMenu] [nvarchar](50) NULL,
	[image] [nvarchar](20) NULL,
	[IDGroupMenu] [nvarchar](20) NULL,
	[FormName] [nvarchar](50) NULL,
	[AddTappage] [bit] NULL,
	[Namespace] [nvarchar](50) NULL,
	[ShowMenu] [bit] NULL,
	[pos] [int] NULL,
	[note] [nvarchar](500) NULL,
	[tablePre] [nvarchar](50) NULL,
	[icon] [varbinary](max) NULL,
 CONSTRAINT [PK_sysSubMenu] PRIMARY KEY CLUSTERED 
(
	[IDSubMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]


SET ANSI_PADDING OFF

INSERT [dbo].[sysControls] ([form_name], [control_name], [type], [text_EN], [text_VI], [status], [field_name], [sql_lue], [valuemember_lue], [displaymember_lue], [caption_col_lue_VI], [fieldname_col_lue], [caption_col_lue_EN], [ma_sub_menu], [stt], [ShortcutKeys], [image]) VALUES (N'frm_BAOTRI_S', N'dte_ngaytao_I5', N'DateEdit', N'1', N'', 1, N'ngaytao', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[sysControls] ([form_name], [control_name], [type], [text_EN], [text_VI], [status], [field_name], [sql_lue], [valuemember_lue], [displaymember_lue], [caption_col_lue_VI], [fieldname_col_lue], [caption_col_lue_EN], [ma_sub_menu], [stt], [ShortcutKeys], [image]) VALUES (N'frm_BAOTRI_S', N'glue_idcustomer_I1', N'GridLookUpEdit', N'1', N'', 1, N'idcustomer', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[sysControls] ([form_name], [control_name], [type], [text_EN], [text_VI], [status], [field_name], [sql_lue], [valuemember_lue], [displaymember_lue], [caption_col_lue_VI], [fieldname_col_lue], [caption_col_lue_EN], [ma_sub_menu], [stt], [ShortcutKeys], [image]) VALUES (N'frm_BAOTRI_S', N'glue_idemp_I1', N'GridLookUpEdit', N'1', N'', 1, N'idemp', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)









INSERT [dbo].[sysPower] ([IDSubMenu], [allow_access], [allow_insert], [allow_delete], [allow_edit], [allow_print], [allow_import], [allow_export], [mavaitro], [id], [allow_all]) VALUES (N'1.1.1     ', 1, 1, 1, 1, 1, 1, 1, N'VT000001', 1, 1)
INSERT [dbo].[sysPower] ([IDSubMenu], [allow_access], [allow_insert], [allow_delete], [allow_edit], [allow_print], [allow_import], [allow_export], [mavaitro], [id], [allow_all]) VALUES (N'1.1.2     ', 1, 1, 1, 1, 1, 1, 1, N'VT000001', 2, 1)
INSERT [dbo].[sysPower] ([IDSubMenu], [allow_access], [allow_insert], [allow_delete], [allow_edit], [allow_print], [allow_import], [allow_export], [mavaitro], [id], [allow_all]) VALUES (N'1.1.3     ', 1, 1, 1, 1, 1, 1, 1, N'VT000001', 3, 1)







INSERT [dbo].[sysSubMenu] ([IDSubMenu], [NameSubMenu], [image], [IDGroupMenu], [FormName], [AddTappage], [Namespace], [ShowMenu], [pos], [note], [tablePre], [icon]) VALUES (N'1.1.1     ', N'Kết Thúc', N'shut.png', N'1.1', N'exit', 0, N'', 1, 0, N'', N'', NULL)
INSERT [dbo].[sysSubMenu] ([IDSubMenu], [NameSubMenu], [image], [IDGroupMenu], [FormName], [AddTappage], [Namespace], [ShowMenu], [pos], [note], [tablePre], [icon]) VALUES (N'1.1.2     ', N'Đăng Xuất', N'logout.png', N'1.1', N'logout', 0, N'', 1, 1, N'', N'', NULL)
INSERT [dbo].[sysSubMenu] ([IDSubMenu], [NameSubMenu], [image], [IDGroupMenu], [FormName], [AddTappage], [Namespace], [ShowMenu], [pos], [note], [tablePre], [icon]) VALUES (N'1.1.3     ', N'Thông Tin', N'information.png', N'1.1', N'frm_thongtin_S', 0, N'THONGTIN', 1, 2, N'', N'', NULL)
ALTER TABLE [dbo].[sysSubMenu]  WITH CHECK ADD  CONSTRAINT [FK_sysSubMenu_sysGroupSubMenu] FOREIGN KEY([IDGroupMenu])
REFERENCES [dbo].[sysGroupSubMenu] ([IDGroupMenu])

ALTER TABLE [dbo].[sysSubMenu] CHECK CONSTRAINT [FK_sysSubMenu_sysGroupSubMenu]

