drop table sysGridColumns
CREATE TABLE [dbo].[sysGridColumns](
	[form_name] [nvarchar](50) NOT NULL,
	[column_name] [nvarchar](500) NULL,
	[caption] [nvarchar](500) NULL,
	[field_name] [nvarchar](500) NULL,
	[style_column] [nvarchar](500) NULL,
	[column_width] [nvarchar](500) NULL,
	[allow_focus] [nvarchar](500) NULL,
	[column_visible] [nvarchar](500) NULL,
	[sql_lue] [nvarchar](max) NULL,
	[caption_lue] [nvarchar](500) NULL,
	[fieldname_lue] [nvarchar](500) NULL,
	[caption_lue_col] [nvarchar](500) NULL,
	[fieldname_lue_col] [nvarchar](500) NULL,
	[fieldname_lue_visible] [nvarchar](500) NULL,
	[cot_lue_search] [int] NULL,
	[sql_glue] [nvarchar](max) NULL,
	[caption_glue] [nvarchar](500) NULL,
	[fieldname_glue] [nvarchar](500) NULL,
	[caption_glue_col] [nvarchar](500) NULL,
	[fieldname_glue_col] [nvarchar](500) NULL,
	[fieldname_glue_visible] [nvarchar](500) NULL,
	[cot_glue_search] [int] NULL,
	[column_summary] [nvarchar](500) NULL,
	[sql_grid] [nvarchar](max) NULL,
	[grid_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_sysGridColumns] PRIMARY KEY CLUSTERED 
(
	[form_name] ASC,
	[grid_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

drop table sysPower
CREATE TABLE [dbo].[sysPower](
	[IDSubMenu] [nvarchar](10) NOT NULL,
	[allow_access] [bit] NOT NULL,
	[allow_insert] [bit] NULL,
	[allow_delete] [bit] NULL,
	[allow_edit] [bit] NULL,
	[allow_print] [bit] NULL,
	[allow_import] [bit] NULL,
	[allow_export] [bit] NULL,
	[mavaitro] [nvarchar](50) NULL,
	[id] [int] NOT NULL,
	[allow_all] [bit] NULL,
 CONSTRAINT [PK_sysPower] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

drop table sysSubMenu
CREATE TABLE [dbo].[sysSubMenu](
	[IDSubMenu] [nvarchar](10) NOT NULL,
	[NameSubMenu] [nvarchar](50) NULL,
	[image] [nvarchar](20) NULL,
	[IDGroupMenu] [nvarchar](20) NULL,
	[FormName] [nvarchar](50) NULL,
	[AddTappage] [bit] NULL,
	[Namespace] [nvarchar](50) NULL,
	[ShowMenu] [bit] NULL,
	[pos] [int] NULL,
	[note] [nvarchar](500) NULL,
	[tablePre] [nvarchar](50) NULL,
	[icon] [varbinary](max) NULL,
 CONSTRAINT [PK_sysSubMenu] PRIMARY KEY CLUSTERED 
(
	[IDSubMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]


INSERT [dbo].[sysPower] ([IDSubMenu], [allow_access], [allow_insert], [allow_delete], [allow_edit], [allow_print], [allow_import], [allow_export], [mavaitro], [id], [allow_all]) VALUES (N'1.1.1     ', 1, 1, 1, 1, 1, 1, 1, N'VT000001', 1, 1)
INSERT [dbo].[sysPower] ([IDSubMenu], [allow_access], [allow_insert], [allow_delete], [allow_edit], [allow_print], [allow_import], [allow_export], [mavaitro], [id], [allow_all]) VALUES (N'1.1.2     ', 1, 1, 1, 1, 1, 1, 1, N'VT000001', 2, 1)
INSERT [dbo].[sysPower] ([IDSubMenu], [allow_access], [allow_insert], [allow_delete], [allow_edit], [allow_print], [allow_import], [allow_export], [mavaitro], [id], [allow_all]) VALUES (N'1.1.3     ', 1, 1, 1, 1, 1, 1, 1, N'VT000001', 3, 1)








INSERT [dbo].[sysSubMenu] ([IDSubMenu], [NameSubMenu], [image], [IDGroupMenu], [FormName], [AddTappage], [Namespace], [ShowMenu], [pos], [note], [tablePre], [icon]) VALUES (N'1.1.1     ', N'Kết Thúc', N'shut.png', N'1.1', N'exit', 0, N'', 1, 0, N'', N'', NULL)
INSERT [dbo].[sysSubMenu] ([IDSubMenu], [NameSubMenu], [image], [IDGroupMenu], [FormName], [AddTappage], [Namespace], [ShowMenu], [pos], [note], [tablePre], [icon]) VALUES (N'1.1.2     ', N'Đăng Xuất', N'logout.png', N'1.1', N'logout', 0, N'', 1, 1, N'', N'', NULL)
INSERT [dbo].[sysSubMenu] ([IDSubMenu], [NameSubMenu], [image], [IDGroupMenu], [FormName], [AddTappage], [Namespace], [ShowMenu], [pos], [note], [tablePre], [icon]) VALUES (N'1.1.3     ', N'Thông Tin', N'information.png', N'1.1', N'frm_thongtin_S', 0, N'THONGTIN', 1, 2, N'', N'', NULL)
ALTER TABLE [dbo].[sysSubMenu]  WITH CHECK ADD  CONSTRAINT [FK_sysSubMenu_sysGroupSubMenu] FOREIGN KEY([IDGroupMenu])
REFERENCES [dbo].[sysGroupSubMenu] ([IDGroupMenu])

ALTER TABLE [dbo].[sysSubMenu] CHECK CONSTRAINT [FK_sysSubMenu_sysGroupSubMenu]

