drop table sysGridColumns
CREATE TABLE [dbo].[sysGridColumns](
	[form_name] [nvarchar](50) NOT NULL,
	[column_name] [nvarchar](500) NULL,
	[caption] [nvarchar](500) NULL,
	[field_name] [nvarchar](500) NULL,
	[style_column] [nvarchar](500) NULL,
	[column_width] [nvarchar](500) NULL,
	[allow_focus] [nvarchar](500) NULL,
	[column_visible] [nvarchar](500) NULL,
	[sql_lue] [nvarchar](max) NULL,
	[caption_lue] [nvarchar](500) NULL,
	[fieldname_lue] [nvarchar](500) NULL,
	[caption_lue_col] [nvarchar](500) NULL,
	[fieldname_lue_col] [nvarchar](500) NULL,
	[fieldname_lue_visible] [nvarchar](500) NULL,
	[cot_lue_search] [int] NULL,
	[sql_glue] [nvarchar](max) NULL,
	[caption_glue] [nvarchar](500) NULL,
	[fieldname_glue] [nvarchar](500) NULL,
	[caption_glue_col] [nvarchar](500) NULL,
	[fieldname_glue_col] [nvarchar](500) NULL,
	[fieldname_glue_visible] [nvarchar](500) NULL,
	[cot_glue_search] [int] NULL,
	[column_summary] [nvarchar](500) NULL,
	[sql_grid] [nvarchar](max) NULL,
	[grid_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_sysGridColumns] PRIMARY KEY CLUSTERED 
(
	[form_name] ASC,
	[grid_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]



