<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <Table1>
    <server>loyalty_pc</server>
    <account>ql`[</account>
    <password>/*1,3.507294</password>
    <DBName>qltoa\ytgb</DBName>
    <path>E:\Libs\Drive\Libs\Data\Data\system.sdf</path>
    <passCE>/*1,3.507294</passCE>
    <dbnameCE>qlxssnupgbpk2-xsjemh</dbnameCE>
    <passaccess>_Zc^mhjepkfasnsnlgpkoj</passaccess>
    <isSqlServer>true</isSqlServer>
  </Table1>
</NewDataSet>