<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DMDVT.Properties.Settings.QLBH2ConnectionString" connectionString="Data Source=muong-pc;Initial Catalog=QLBH2;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.DXCore.Controls.Data.v6.3" publicKeyToken="35C9F04B7764AA3D" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.1.8.0" newVersion="11.1.8.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.DXCore.Controls.Utils.v6.3" publicKeyToken="35C9F04B7764AA3D" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.1.8.0" newVersion="11.1.8.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.DXCore.Controls.XtraEditors.v6.3" publicKeyToken="35C9F04B7764AA3D" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.1.8.0" newVersion="11.1.8.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
